{% extends "claim/base.html" %}
{% block content %}
    <h1>Insurance Claim Process Optimization using Cognitive Automation
</h1>
    <p>Insurance companies are facing many problems like slow industry growth, fraud in claim, re-claim process. These problems make it difficult for the company to create balance between delivering differential customer experiences and keeping cost down. Filing insurance claims can be challenging for the insurance companies as well as the clients. Verifying the documents, invoices for claims and checking the claims as per the policy is tedious. Since it is manual, there can be mistakes resulting in reopening of cases. The solution is to speed up the current processes and replace the existing work which is done manually with cognitive automation. This would help to manage costs and customer demand. Having an automated process would drastically reduce human errors and speed up the claim process.
</p>
{% endblock content %}
